body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: column; /* Stack items in mobile */
    text-align: right;
}

nav li {
    list-style: none;
    padding: 10px;
}
/* Basic styling */
.menu-icon {
    font-size: 100px;
    cursor: pointer;
    display: block;
    padding: 10px;
}

/* Hide the nav menu by default */
.nav-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.nav-menu a:hover {
    background-color: #555;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}