@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
nav {
    display: flex;
    justify-content: flex-end; /* Pushes items to the right */
    padding: 10px;
}
footer{
  text-align: center;
}